<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.addenda.businesseasy.fieldfilling.FieldFillingTestMapper">

    <resultMap id="tUser" type="cn.addenda.businesseasy.pojo.TUser">
        <id property="userId" column="user_id"/>
        <result property="createTime" column="create_time"
                typeHandler="cn.addenda.businesseasy.fieldfilling.typehandler.FieldFillingLocalDateTimeHandler"/>
        <result property="modifyTime" column="modify_time"
                typeHandler="cn.addenda.businesseasy.fieldfilling.typehandler.FieldFillingLocalDateTimeHandler"/>
    </resultMap>

    <select id="selectTest" resultMap="tUser">
        select *
        from t_user
    </select>

    <update id="updateTest">
        update runoob_tbl
        set runoob_title = replace(runoob_title, 'c++', 'python')
        where runoob_id = 3
    </update>

    <insert id="insertTest">
        insert into t_user(user_id, user_name, birthday)
        values (#{tUser.userId}, #{tUser.userName}, #{tUser.birthday})
    </insert>

    <insert id="insertTypeHandlerTest">
        insert into t_user(user_id, user_name, create_time, del_fg)
        values (#{tUser.userId}, #{tUser.userName},
                #{tUser.createTime, typeHandler=cn.addenda.businesseasy.fieldfilling.typehandler.FieldFillingLocalDateTimeHandler},
                #{tUser.delFg})
    </insert>

    <delete id="deleteTest">
        delete
        from t_user
        where user_id = #{userId}
    </delete>

</mapper>